body {
    background-color: #white;
    font-size: 12px;
    color: #000000;
}
h2 {
    font-weight: bold;
    text-align: left;
}
p {
    font-weight: normal;
    text-align: left;
}
li {
    font-weight: normal;
}